<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Toodie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Toodie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections><startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
    <connectionStrings>
        <add name="Toodie.Properties.Settings.empty_databaseConnectionString" connectionString="Data Source=|DataDirectory|\Resources\empty_database.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <applicationSettings>
        <Toodie.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="xmlURL" serializeAs="String">
                <value>http://odd.com.pl/toodie/versionInfo.xml</value>
            </setting>
        </Toodie.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Toodie.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>pl-PL</value>
            </setting>
            <setting name="hideNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideProjects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideFinished" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="onClickEdit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastDatabaseFile" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTenDatabases" serializeAs="String">
                <value />
            </setting>
            <setting name="xmlHeader" serializeAs="String">
                <value>&lt;?xml version="1.0"?&gt;
&lt;ss:Workbook xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"&gt;
    &lt;ss:Styles&gt;
        &lt;ss:Style ss:ID="1"&gt;
            &lt;ss:Font ss:Bold="1"/&gt;
        &lt;/ss:Style&gt;
    &lt;/ss:Styles&gt;
    &lt;ss:Worksheet ss:Name="Sheet1"&gt;
        &lt;ss:Table&gt;
            &lt;ss:Column ss:Width="100"/&gt;
            &lt;ss:Column ss:Width="250"/&gt;
            &lt;ss:Column ss:Width="100"/&gt;
            &lt;ss:Row ss:StyleID="1"&gt;
                &lt;ss:Cell&gt;
                    &lt;ss:Data ss:Type="String"&gt;Date&lt;/ss:Data&gt;
                &lt;/ss:Cell&gt;
                &lt;ss:Cell&gt;
                    &lt;ss:Data ss:Type="String"&gt;Content&lt;/ss:Data&gt;
                &lt;/ss:Cell&gt;
                &lt;ss:Cell&gt;
                    &lt;ss:Data ss:Type="String"&gt;Project&lt;/ss:Data&gt;
                &lt;/ss:Cell&gt;
            &lt;/ss:Row&gt;</value>
            </setting>
        </Toodie.Properties.Settings>
    </userSettings>
</configuration>